<header class="header">
    <div class="container">
        <ul class="header__items">
            <li class="header__logo">
                <a href="#"> 
                        <img src="/img/Logo.png" alt="Logo">
                </a> 
            </li>
            <li class="header__search">
                <img src="/img/Search.png" alt="Search">
            </li>
            <li class="header__menu">
                <img src="/img/Menu Icon.png" alt="Menu">
            </li>
        </ul>
    </div>
</header>