html {
    box-sizing: border-box;
    background-color: #F4F4F4;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.wrapper {
    max-width: 1360px;
    margin: 0 auto;
    /* background-color: #F4F4F4; */
}
.header {
    margin: 64px 125px;
}
.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
