html {
    box-sizing: border-box;
    background-color: #F4F4F4;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
}

h3 {
    
}
