<section>
        <a href="#">— our works</a>
        <div>
            <h3> Discover our Work </h3>
            <ul>
                <li>
                    <a href="#">All</a>
                </li>
                <li>
                    <a href="#">Branding</a>
                </li>
                <li>
                    <a href="#">Web</a>
                </li>
                <li>
                    <a href="#">Development</a>
                </li>
                <li>
                    <a href="#">Films</a>
                </li>
            </ul>
        </div>
        <div>
            <div></div>
            <div></div>
            <div>
                <div></div>
            </div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div>
            <p>It picks up the words on the page and displays ads that are similar to those words. 
                Then when someone either performs an action or clicks on your page you will get paid.
            </p>
            <button>see our works</button>
        </div>
</section>
