<section class="slider">
        <div class="container">
            <div class="slider__inner">
                <div class="slider__item1">
                    <img src="/img/Placeholder_slider.png" alt="#">
                </div>
                <div class="slider__item2">
                    <img src="/img/Placeholder_slider2.png" alt="#">
                </div>
            </div>
            <div class="slider__arrows">
                <button class="arrows-left"></button>
                <button class="arrows-right"></button>
            </div>
        </div>
</section>
