<section class="our-clients">
    <div class="container">
        <div class="our-clients__content">
            <div>
                <h3 class="title">Our Clients</h3>
            </div> 
            <div class="our-clients__inner">
                <div>
                        <a class="our-clients__link" href="#">— We worked with</a>
                </div>
                <p class="text">Our favorite brands are our friends! 
                        We help them to achieve their goals, they help us to stay sharp.
                </p>
             </div>
        </div>
        <div class="our-clients__images">
            <a href="#">
                <img src="img/xiaomi.png" alt="#">
            </a>
            <a href="#">
                <img src="img/tinder.png" alt="#">
            </a>
            <a href="#">
                <img src="img/apple.png" alt="#">
            </a>
            <a href="#">
                <img src="img/nike.png" alt="#">
            </a>
            <a href="#">
                <img src="img/amd.png" alt="#">
            </a>
        </div>
    </div>
</section>
