<section>
        <div>
            <h3>Our Clients</h3>
            <div>
                <a href="#">— We worked with</a>
                <p>Our favorite brands are our friends! 
                    We help them to achieve their goals, they help us to stay sharp.
                </p>
            </div>
        </div>
        <div>
            <a href="#">
                <img src="/img/xiaomi.png" alt="#">
            </a>
            <a href="#">
                <img src="/img/tinder.png" alt="#">
            </a>
            <a href="#">
                <img src="/img/apple.png" alt="#">
            </a>
            <a href="#">
                <img src="/img/nike.png" alt="#">
            </a>
            <a href="#">
                <img src="/img/amd.png" alt="#">
            </a>
        </div>
</section>
