<section class="features">
    <div class="container">
        <div class="features__images">
            <div class="features__background">
                <img src="/img/Placeholder_background.png" alt="#">
                <div class="features__front">
                </div>
            </div>
        </div>
        <div class="features__content">
            <div class="clearfix"></div>
            <h3 class="title">
                Well thought with super easy to use
            </h3>
            <p class="feautures__text">
                As we approached the palace I could 
                see through the great windows of the first floor the brilliantly 
                illuminated audience chamber of Than Kosis. 
                The immense hall was crowded with nobles and their women.
            </p>
            <div class="features__list">
                <ul>
                    <li class="features__list-inner">
                        <a href="#">Ultimate Result</a>
                    </li>
                    <li class="features__list-inner">
                        <a href="#">Minimal Design</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>