<section class="intro">
    <div class="clearfix"></div>  
    <div class="container">
        <div class="intro__background">

        </div>
        <div class="intro__content">
            <div class="clearfix"></div>   
            <h3 class="title">
                We solve digital problems with an outstanding creative flare
            </h3>
            <p class="text">
                The best time to view the moon, obviously, 
                is at night when there are few clouds and the weather is accommodating for a long and lasting study.
            </p>
            <p class="text paragraph">
                For most of us, the idea of astronomy 
                is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
            </p>
            <div class="intro__contact">
                <div class="intro__icon"></div>
                <div class="intro__data">
                    <div class="name">Denis Shepovalov</div>
                    <div class="text">Co-Founder & CEO</div>
                </div>
            </div>
        </div>
    </div>
</section>
