.testimonials {
    margin-bottom: 176px;
}

.testimonials__content {
    width: 50%;
    display: inline-block;
}

.testimonials__content .title {
    margin-top: 73px;
    margin-bottom: 121px;
}

.testimonials__items .name {
    margin-bottom: 13px;
}

.testimonials__arrows {
    margin-top: 82px;
}

.testimonials__image {
    float: right;
    background-image: url(/img/Person.png);
    width: 445px;
    height: 620px;
}

