<section class="testimonials">
    <div class="container">
        <div class="testimonials__content">
            <div>
                <a class="link" href="">— Testimonials</a>
            </div>
            <h3 class="title">
                "Professionals in their craft! 
                All products were super great with strong attention to details, and overall vibe"
            </h3>
            <div class="testimonials__items">
                <ul>
                    <li class="name">Polina Kuzina</li>
                    <li class="text">Manager at Craftwork</li>
                </ul>
            </div>
            <div class="testimonials__arrows">
                <button class="arrows-left"></button>
                <button class="arrows-right"></button>
            </div>
        </div>
        <div class="testimonials__image">
        </div>
    </div>

</section>