 <section class="hero-image">
        <div class="hero-image__content">
            <h2 class="hero-image__title">
                Work around you and your team
            </h2>
            <div class="hero-image__text">
                From ads that dance or sing to MTV-like commercials, online advertisers are now 
                using a new type of technology “rich media” to attract consumers.
            </div>
            <button class="hero-image__button">
                get started
            </button>
            <div class="hero-image__loader">
                <ul class="loader">
                    <li>01</li>
                    <li>
                        <img src="/img/Color BG.png" alt="#">
                    </li>
                    <li>03</li>
                </ul>
            </div>
        </div>

        <div class="hero-image__background">
            <div class="hero-image__placeholder">
                <div class="play"></div>
            </div>
        </div>
</section>
