<section class="hero-image">
    <div class="container">
            <div class="hero-image__content">
                <h1 class="hero-image__title">
                    Work around you and your team
                </h1>
                <p class="text">
                    From ads that dance or sing to MTV-like commercials, online advertisers are now 
                    using a new type of technology “rich media” to attract consumers.
                </p>
                <button class="hero-image__button">
                    get started
                </button>
                <div class="hero-image__loader">
                    <ul class="loader">
                        <li class="loader__item">01</li>
                        <li class="loader__line">
                            <img src="/img/Color BG.png" alt="#">
                        </li>
                        <li class="loader__item">03</li>
                    </ul>
                </div>
            </div>
           
            <div class="hero-image__items">
                <div class="clearfix"></div>  
                <div class="hero-image__background">
                    <img src="/img/Placeholder.png" alt="">
                    <div class="hero-image__preview">
                        <div class="hero-image__play"></div>
                    </div>
                </div>
            </div>      
    </div>
</section>