.hero-image {
    margin-bottom: 137px;
}

.hero-image__content {
    width: 50%;
    display: inline-block;
}

.hero-image__title {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1px;
    color: #151515;
    margin-bottom: 30px;
}
.hero-image__button {
    width: 189px;
    height: 53px;
    background: #4737FF;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 56px;
    border: none;
}

.hero-image__loader {
    margin-top: 216px;
}

.loader {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    padding: 0;
    margin: 0;
}

.loader__item {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #222222;
}

.loader__line {
    padding-left: 10px;
    padding-right: 10px;
}

.hero-image__items {
    float: right;
    width: 50%;
}

.clearfix {
    clear: both;
}

.hero-image__background {
    height: 840px;
    width: 665px;
    position: absolute;
    right: 2px;
}

.hero-image__preview {
    position: absolute;
    z-index: 3;
    background-image: url(/img/Placeholder_play.png);
    height: 310px;
    width: 400px;
    bottom: 166px;
    right: 390px;
}

.hero-image__play {
    height: 65px;
    width: 65px;
    position: absolute;
    z-index: 3;
    color: rgb(255, 255, 255);
    right: 558px;
    bottom: 289px;
}

.container:after {
	content: " ";
	display: table;
	clear: both;
}
