<section class="services">
    <div class="container">
        <div class="services__items">
                <a class="link" href="#">— Services</a>
                <h3 class="title__services">
                    We love work hard and explore new things that’s why we cover lot of things. 
                    Check our service list and view details 
                </h3>
        </div>
      
        <div class="services__list">
            <div class="clearfix"></div> 
            <div class="services__list-inner">
                <ul class="services__list-items">
                    <li>
                        <a href="#">Multimedia</a>
                    </li>
                    <li>
                        <a href="#">Interactive design</a>
                    </li>
                    <li>
                        <a href="#">Packaging</a>
                    </li>
                    <li>
                        <a href="#">Branding</a>
                    </li>
                </ul>
            </div>
            <div class="services__list-block">
                <div class="clearfix"></div> 
                <ul class="services__list-items">
                    <li>
                        <a href="#">Creative Strategy</a>
                    </li>
                    <li>
                        <a href="#">UI/UX</a>
                    </li>
                    <li>
                        <a href="#">Coding</a>
                    </li>
                </ul>
            </div>
        
        </div>
    </div>
</section>
