<section>
        <p>— Services</p>
        <h3>We love work hard and explore new things that’s why we cover lot of things. 
            Check our service list and view details 
        </h3>
        <div>
            <ul>
                <li>
                    <a href="#">Multimedia</a>
                </li>
                <li>
                    <a href="#">Interactive design</a>
                </li>
                <li>
                    <a href="#">Packaging</a>
                </li>
                <li>
                    <a href="#">Branding</a>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <a href="#">Creative Strategy</a>
                </li>
                <li>
                    <a href="#">UI/UX</a>
                </li>
                <li>
                    <a href="#">Coding</a>
                </li>
            </ul>
        </div>
</section>
